<!doctype html>
<html lang="en">
  <head>
    <!-- Leaflet's -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0; 
            right: 0;
            height: 550px; 
            width: 550px;
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>
    <title>Test Leaflet</title>
  </head>
<body>
    <div id="map"></div>
    <script>
        let locations = [
            ["marker 1", 20.433587, 79.376086],
            ["marker 2", 20.435261, 80.683704],
            ["marker 3", 20.444858, 80.923167],
            ["marker 4", 19.356815, 80.981048],
            ["marker 5", 19.190886, 80.15707],
            ["marker 6", 19.201261, 79.014495]
        ];

        let map = L.map('map').setView([11.206051, 122.447886], 8);

        mapLink ='<a href="http://openstreetmap.org">OpenStreetMap</a>';

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        for (let i = 0; i < locations.length; i++) {
            marker = new L.marker([locations[i][1], locations[i][2]])
                .bindPopup(locations[i][0])
                .addTo(map);
        }
    </script>
</body>
</html>
